<!DOCTYPE html>
<html>

<header>
  <h1 class="headline">
    
  </h1>
</header>

<body>
  <h1>
    welcome to<strong> Bookers </strong>!!
  </h1>
  <p>
    in <strong>Bookers</strong>,
  </p>
  
  <footer>
    <p>CopyRight Inflatop.inc</p>

</body>
</html>

